<h2>Edit this pet.</h2>
<%= form_tag "/paws/#{@paw.id}", method: :patch do %>
  <div>
    <%= label_tag :name %> 
    <%= text_field_tag :name, @paw.name %>
  </div> 
  <div>
    <%= label_tag :description %> 
    <%= text_field_tag :description, @paw.description %>
  </div> 
  <div>
    <%= label_tag :gender %> 
    <%= text_field_tag :gender, @paw.gender %>
  </div> 
  <div>
    <%= label_tag :breed %> 
    <%= text_field_tag :breed, @paw.description %>
  </div> 
  <div>
    <%= label_tag :color %> 
    <%= text_field_tag :color, @paw.color %>
  </div> 
  <div>
    <%= label_tag :weight %> 
    <%= text_field_tag :weight, @paw.weight %>
  </div> 
  <div>
    <%= label_tag :age %> 
    <%= text_field_tag :age, @paw.age %>
  </div> 
  <div>
    <%= label_tag :special_needs %> 
    <%= text_field_tag :special_needs, @paw.special_needs %>
  </div> 
  <div>
    <%= label_tag :energy_level %> 
    <%= text_field_tag :energy_level, @paw.energy_level %>
  </div>
  <div>
    <%= label_tag :needs_yard %> 
    <%= text_field_tag :needs_yard, @paw.needs_yard %>
  </div>
  <div>
    <%= label_tag :kids_ok %> 
    <%= text_field_tag :kids_ok, @paw.kids_ok %>
  </div>
  <div>
    <%= label_tag :fees %> 
    <%= text_field_tag :fees, @paw.fees %>
  </div>


<div>
  <%= submit_tag "Edit" %>
</div>
  <% end %>