<section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">Meet <%= @paw.name %></h3>
            </div>
        </section><!--page-tree end here-->
<div class="space-70"></div>
        <div class="container portfolio-details">
      
            <div class="row">
                <div class="col-md-8 portfolio-single-slide margin-btm-40">
                    <div>
                      <img src="<%= @paw.image %>" class="img-responsive" alt="">
          
                    </div><!--flex slider-->
                    <div class="portfolio-single-desc">
                        <h3><%= @paw.name %></h3>
                        <h4><%= @paw.description%></h4>
  
                        <hr>
                    </div><!--portfolio detail-->
                </div>
                <div class="col-md-4">
                    <div class="portfolio-side-bar">
                        <p>
                            <strong>My Name is: </strong><%= @paw.name %>
                        </p>
                          <p>
                            <strong>I am a: </strong><%= @paw.gender %>
                        </p>
                         <p>
                            <strong>Breed: </strong><%= @paw.breed %>
                        </p> 
                        <p>
                            <strong>I weigh: </strong><%= @paw.weight %>
                        </p> 
                        <p>
                            <strong>Color: </strong><%= @paw.color %>
                        </p>
                         <p>
                            <strong>I am: </strong><%= @paw.age %> years old.
                        </p> 
                        <p>
                            <strong>My energy level is : </strong><%= @paw.energy_level %> out of 5.
                        </p> 
                        <p>
                            <strong>I need a yard : </strong><%= @paw.needs_yard %>
                        </p> 
                        <p>
                            <strong>I have special needs : </strong><%= @paw.special_needs %>
                        </p> 
                        <p>
                            <strong>Kids are ok: </strong><%= @paw.kids_ok %>
                        </p>
                        <p>
                            <strong>You can find me at </strong><%= @paw.location %>
                        </p>
                        <br>
                        <p>
                            <a href="/paws" class="btn btn-radius theme-btn-color">Back to all Pets</a>
                            <%= form_tag "/favorite_paws", method: :post do %>
                              <%= hidden_field_tag :paw_id, @paw.id %>
                              <%= submit_tag "Add to favorites", class: "btn btn-success" %>
                            <% end %>

                        </p>
                    </div>
                </div>
            </div>
        </div><!--portfolio single container end-->
      
        <div class="space-70"></div>


        <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/assets/js/modernizr.custom.97074.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
        <script src="/assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.sticky.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.mixitup.min.js" type="text/javascript"></script>
        <script src="/assets/js/parallax.min.js" type="text/javascript"></script>
        <script src="/assets/js/wow.min.js" type="text/javascript"></script>
        <script src="/assets/js/app.js" type="text/javascript"></script>






































<% if current_adopter %>
  <h2><%= @paw.name %></h2>
  <h4><%= @paw.description %></h4>
  <%= image_tag @paw.image %>

  <%= link_to "Edit this Pet", "/paws/#{@paw.id}/edit" %>
  <%= link_to "Back to Pets", "/paws" %>
  <%= link_to "This pet has been adopted!", "/paws/#{@paw.id}", method: :delete %>


<% else %>
  <h2><%= @paw.name %></h2>
  <h4><%= @paw.description %></h4>
  <h5><%= @paw.gender%></h5>
  <h5><%= @paw.breed%></h5>
  <h5>I weigh: <%= @paw.weight%></h5>
  <h5>Color: <%= @paw.color%></h5>
  <h5>I am <%= @paw.age%> years old. </h5>
  <h5>My energy level is <%= @paw.energy_level%> out of 5.</h5>
  <h5>I need a yard: <%= @paw.needs_yard%></h5>
  <h5>Kids are ok: <%= @paw.kids_ok%></h5>
  <h5>I have special needs: <%= @paw.special_needs%></h5>
  <h5>Adoption Fee: <%= @paw.fees%></h5>
  <h5>Location: <%= @paw.location%></h5>

  <%= form_tag '/favorite_paws', method: :post do %>
    <div>
      <%= hidden_field_tag :paw_id, @paw.id %>
    </div>
    <div>
      <button class= "btn btn-success" type="submit">Add me to favorite pets!</button>
    </div>
  <% end %>

  <%= image_tag @paw.image %>

  <a href="/paws">Back to all Pets</a>
<% end %>
