<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Project</title>
    <meta name="description" content="HTML5 & CSS3">
    <meta name="keywords" content="HTML5, CSS3, Theme,bootstrap3,clean design"> 

    <!--bootstrap3 css-->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--ion icon fonts css-->
    <link href="assets/icons/css/ionicons.css" rel="stylesheet">
    <!--custom css-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--google  font family-->

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    <!--flex slider css-->
    <link href="assets/css/flexslider.css" rel="stylesheet">
    <!--animated  css-->
    <link href="assets/css/animate.css" rel="stylesheet">
    <!--master slider-->
    <link href="assets/master-slider/style/masterslider.css" rel="stylesheet">
    <link href="assets/master-slider/skins/default/style.css" rel="stylesheet">
    <link href="assets/css/master-slider-custom.css" rel="stylesheet" type="text/css">

</head>


<body>
   <!--preloader-->
   <div id="preloader"></div>
   <!--preloader-->
   <!--back to top-->
   <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>


   <!-- masterslider -->
   <div class="master-slider ms-skin-default" id="masterslider">
    <div class="ms-slide slide-1">
        <div class="slide-pattern"></div>
        <h3 class="ms-layer thin-text-white blacktext"
        data-type="text"
        data-effect="top(45)"
        data-duration="3400"
        data-ease="easeOutExpo"
        data-origin="mc"
        >
        Project Pet
    </h3>
    <h4 class="ms-layer bold-text-white bigtext"
    data-type="text"
    data-effect="top(45)"
    data-duration="3400"
    data-delay="400"
    data-ease="easeOutExpo"
    data-origin="mc"
    >

</h4>
<img src="http://topleftdesigns.com.au/Images/blogs/dogs-cats-rabbit-rats.jpg" alt="lorem ipsum dolor sit"/>    
</div>
<div class="ms-slide slide-2">
    <div class="slide-pattern"></div>
    <h3 class="ms-layer thin-text-white blacktext"
    data-type="text"
    data-effect="rotate3dleft(50,0,0,480)"
    data-duration="2000"
    data-ease="easeInOutQuint"
    data-origin="mc"
    >
     Add a member to your family
</h3>

<img src="assets/family.jpg" alt="lorem ipsum dolor sit"/>     
</div>

<div class="ms-slide slide-3">
    <div class="slide-pattern"></div>

    <div class="ms-layer box"
    data-effect="skewleft(15,250)"
    data-duration="1300"
    data-ease="easeOutBack"
    ></div>

    <h4 class="ms-layer small-text"
    data-type="text"
    data-effect="skewleft(25,250)"
    data-duration="1000"
    data-ease="easeOutQuart"
    data-delay="500"
    >
    Rescue a pet
</h4>
<h3 class="ms-layer medium-text"
data-type="text"
data-effect="skewright(25,250)"
data-duration="1500"
data-ease="easeOutQuart"
data-delay="700"
>
in need of 
</h3>
<h3 class="ms-layer big-text"
data-type="text"
data-effect="scalebottom(1.1,1.1,50)"
data-duration="1500"
data-ease="easeOutQuart"
data-delay="1200"
>
a new home
</h3>

<img src="assets/img/DogHome.jpg" alt="lorem ipsum dolor sit"/>    
</div>
<div class="ms-slide slide-4" style="z-index: 13">
    <div class="slide-pattern"></div>       
    <img src="assets/img/work/cocoa_2.jpg" alt="lorem ipsum dolor sit"/>    


    <h3 class="ms-layer light-title"  style=" top:130px; left:180px;" 
    data-effect="right(40)"
    data-duration="2300"
    data-delay="1300"
    data-ease="easeOutExpo"                 
    >Come home</h3>

    <h3 class="ms-layer normal-title"  style=" top:190px; left:350px;" 
    data-effect="left(40)"
    data-duration="2300"
    data-delay="1400"
    data-ease="easeOutBack"
    >To a friendly face</h3>
</div>

</div>
<div class="space-50"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h3 class="heading-sec">Anti-Cruelty Society</h3>

        </div>


        <button class="simple-alert btn theme-btn-default btn-lg btn-sweet-alert"><%= link_to "Add a pet", '/paws/new' %></button>

        <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
        <!--back to top end-->
        <header class="header-main">
            <div class="top-bar">



                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

            </div><!--/.nav-collapse -->
        </div><!--/.container-->
    </div><!--navigation end-->
</header><!--header main end-->  
</section><!--page tree end here-->
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="row product_grid">
                <% @paws.each do |paw|%>
                    <div class="col-sm-6 product_item">
                        <div class="product-thumb">
                        <%= image_tag paw.image, class: "img-responsive" %>
                          <div class="product-thumb-overlay">
                                    <p>
                                        <a href="/paws/<%= paw.id %>/edit"><i class="ion-bag"></i> Update Pet</a>
                                        <a href="/paws/<%= paw.id %>" data-confirm="Remove Pet?" data-method="delete" rel="nofollow"><i class="ion-eye"></i> Pet Adopted</a>
                                    </p>
                                </div>
                        </div>
                        <div class="product-desc">
                            <h3><a href="#"><%= paw.name %></a></h3>
                            <p><%= number_to_currency(paw.fees.to_i) %></p>
                            <a href="/paws/<%= paw.id %>" class="btn theme-btn-default btn-lg">View Detail</a>
                        </div>
                    </div>
                <% end %> 
            </div>  
            <hr>
            <div class="text-right">
                <ul class="pagination pagination-lg">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div><!--product col end-->
        <div class="col-xs-4">
            <div class="sidebar-box">
                <div class="widget-search">
                    <form class="search-form">
                        <input type="text" class="form-control" placeholder="search here...">
                        <i class="ion-search" data-toggle="tooltip" data-placement="top" title="" data-original-title="hit enter to search"></i>
                    </form>
                </div>
            </div><!--sidebar-box--><hr>
            <div class="sidebar-box">
                <h4>categories</h4>
                <ul class="cat-list">
                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="10" class="hover-color">Dogs</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="6" class="hover-color">Cats</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="8" class="hover-color">Rabbits</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="14" class="hover-color">Birds</a></li>
                </ul>
            </div><hr>
            <div class="clearfix"></div>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center footer-bottom">

                <div class="space-20"></div>
                <span>&copy;2016.all right resrved.ProjectPet</span>
            </div>
        </div><!--footer copyright row end-->
    </html>

</body>



<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.97074.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.sticky.js" type="text/javascript"></script>
<script src="assets/js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="assets/js/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="assets/js/parallax.min.js" type="text/javascript"></script>
<script src="assets/js/wow.min.js" type="text/javascript"></script>
<script src="assets/js/app.js" type="text/javascript"></script>
<!--master slider-->
<script src="assets/master-slider/masterslider.min.js" type="text/javascript"></script>
<script src="assets/js/masterslider-custom.js" type="text/javascript"></script>












