<h2><%= @adopter.business_name %></h2>
  <h4><%= @adopter.street %></h4>
  <h4><%= @adopter.city %></h4>
  <h4><%= @adopter.state %></h4>
  <h4><%= @adopter.zip %></h4>
  <h4><%= @adopter.phone %></h4>


  <%= link_to "Back to ...?", "/adopters" %>


<h1>Show THis</h1>