    <style>
        body{
            font-family: 'Dosis', sans-serif;
            font-size: 
        }
    </style>
    <section id="content-region-3" class="padding-40 page-tree-bg">
        <div class="container">
            <h3 class="page-tree-text">
                Favorite Pets
            </h3>
        </div>
    </section><!--page-tree end here-->
    <div class="space-70"></div>
    <div class="container">
       <% @favorite_paws.each do |favorite_paw| %>
       <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="blog-post-section">
                <div class="blog-post-img">
                    <img src="<%= favorite_paw.paw.image %>" class="img-responsive" alt="">
                </div>
                <div class="blog-post-header">
                    <h3><%= favorite_paw.paw.name %></h3>
                </div>
                <div class="blog-post-info">
                    <span></a></a></span>
                </div>
                <div class="blog-post-detail">
                    <h4><%= favorite_paw.paw.description %></h4>
                </div>
                <div class="blog-post-more text-right">
                    <a href="/paws" class="btn theme-btn-default btn-lg">Back to all Pets</a>
                </div>
                <div class="blog-post-more text-right">
                    <%= link_to "Remove From Favorites", "/favorite_paws/#{favorite_paw.id}", method: :delete, class: 'btn btn-default' %>
                   <!--  <a href="/favorite_paws/<%= favorite_paw.id %>" data-method="delete" class="btn theme-btn-default btn-lg">Remove from Favorites</a> -->
                </div>
               </div>
            </div>
            <% end %>
            <!--blog post section end-->
            <div class="space-70"></div>
            <div class="container">
               <% @external_favorite_paws.each do |external_favorite_paw| %>
               <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="blog-post-section">
                        <div class="blog-post-img">
                            <img src="<%= external_favorite_paw.image %>" class="img-responsive" alt="">
                        </div>
                        <div class="blog-post-header">
                            <h3><%= external_favorite_paw.name %></h3>
                        </div>
                        <div class="blog-post-info">
                            <span></a></a></span>
                        </div>
                        <div class="blog-post-detail">
                            <%= external_favorite_paw.description %>
                        </div>
                        <div class="blog-post-more text-right">
                            <a href="/paws" class="btn theme-btn-default btn-lg">Back to all Pets</a>
                        </div>
                        <div class="blog-post-more text-right">
                            <a href="/external_favorite_paws/<%= external_favorite_paw.id %>" class="btn theme-btn-default btn-lg">Remove from Favorites</a>
                        </div>
                    </div><!--blog post section end-->
                    </div>
                 </div><!--blog content-->             
            </div>
           
            <% end %>



