<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>Pet App</title>
        <meta name="description" content="HTML5 & CSS3">
        <meta name="keywords" content="HTML5, CSS3, Theme,bootstrap3,clean design"> 
        <!--bootstrap3 css-->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--ion icon fonts css-->
        <link href="/assets/icons/css/ionicons.css" rel="stylesheet">
        <!--custom css-->
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <!--google  font family-->
        <link href="assets/css/sweetalert.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
        <!--flex slider css-->
        <link href="/assets/css/flexslider.css" rel="stylesheet">
        <!--animated  css-->
        <link href="/assets/css/animate.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

    </head>
    <body>
        <!--preloader-->
        <!-- <div id="preloader"></div> -->
        <!--preloader-->
        <!--back to top-->
        <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
        <!--back to top end-->

        <header class="header-main">
            <div class="navbar navbar-default yamm" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <% if current_adopter %>
                            <a class="navbar-brand" href="/adopters">Project Pet</a>
                        <% else %>
                            <a class="navbar-brand" href="/users">Project Pet</a>
                        <% end %>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <% if current_adopter %>
                                <li><a href="/adopters">Home</a></li>
                            <% else %>
                                <li><a href="/users">Home<span></span></a></li>
                            <% end %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Login</a>
                                <ul class="dropdown-menu">
                                
                                    <li><a href="/users/sign_up">Sign Up</a></li>
                                    <li><a href="/users/sign_in">Member Login</a></li>
                                    <li><a href="/adopters/sign_in">Business Login</a></li>                            
                                    <li><a href="/adopters/sign_up">Add your business</a></li>
                                    <li><%= link_to "Log Out", "/users/sign_out", method: :delete %></li>
                                    <li><%= link_to "Business Log Out", "/adopters/sign_out", method: :delete %></li>
                                    
                                </ul>
                            </li>
                            <li class=" dropdown">
                                <a href="/favorite_paws">Favorite Pets</a>
                                
                            </li>

                            <!--mega menu-->
                            <li class="dropdown yamm-fw">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Resources  <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">

                                                <div class="col-sm-3">
                                                    <h3 class="heading">General</h3>
                                                    <ul class="nav mega-vertical-nav">  
                                                        <li><a href="about.html">About Us</a></li>
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                        <li><a href="services.html">Services</a></li>
                                                        <li><a href="our-team.html">Our Team</a></li>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="signup.html">Sign up</a></li>
                                                    </ul>

                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">Pet Info </h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="http://www.care-evanston.org/chicago-area-shelters/">Shelters and Rescues</a></li>
                                                        <li><a href="http://petsarelikefamily.org/outreach-and-advocacy/volunteer-opportunities/">Volunteer</a></li>
                                                        <li><a href="http://www.pawschicago.org/how-to-help/foster/">Foster a Pet</a></li>
                                                        <li><a href="https://secure.aspca.org/">Donate</a></li>
                                                        <li><a href="https://www.petsofthehomeless.org/about-us/faqs/">FAQ's</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">News</h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="http://www.thepuppymillproject.org/">Puppy Mills</a></li>
                                                        <li><a href="http://www.aspca.org/animal-cruelty">Animal Cruelty</a></li>
                                                        <li><a href="http://www.avmf.org/whatwedo/animal-disaster-relief-and-response-fund">Animal Disaster Relief</a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h3 class="heading">Our Business</h3>
                                                    <ul class="nav mega-vertical-nav">
                                                        <li><a href="#">Partnerships</a></li><li>
                                                        <li><a href="#">Privacy Policy</a></li>                              
                                                        <li><a href="#">Terms of Service</a></li>
                                                        <li><a href="#">Careers</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li> 
                            <!--menu Features li end here-->   
                          
                            <li class="social-nav"><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li class="social-nav"><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li class="social-nav"><a href="#"><i class="ion-social-youtube"></i></a></li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container-->
            </div><!--navigation end-->

        </header><!--header main end-->

        <div class="container">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
            <%= message.html_safe %>  
          </div>
        <% end %>
        </div>

        <%= yield %>


        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-btm-20">
                        <div class="footer-col">
                            <h3>ProjectPet</h3>
                            <p>Dedicated to pairing pets with humans</p>
                        </div>
                        <div class="space-20"></div>
                        <div class="footer-col">
                            <h3>contact info</h3>
                            <p><i class="ion-home"></i> 1871</p>
                            <p><i class="ion-iphone"></i> Chicago, IL </p>
                            <p><i class="ion-email"></i> projectpet@gmail.com</p>
                        </div>
                        <div class="space-20"></div>
                        <div class="footer-col">
                            <h3>Follow us</h3>
                            <ul class=" list-inline social-btn">
                                <li><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                                <li><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                            </ul>
                        </div><!--footer social col-->
                    </div><!--col-4 end-->
                    <div class="col-md-3 margin-btm-20">
                        <div class="footer-col">
                            <h3>Latest post</h3>
                            <ul class="post-list list-unstyled">
                                <li><a href="#" class="hover-color">About Us</a></li>
                                <li><a href="#" class="hover-color">Services</a></li>
                                <li><a href="#" class="hover-color">Our Team</a></li>
                                <li><a href="#" class="hover-color">Careeers</a></li>
                            </ul>
                        </div>
                    </div><!--latest post col end-->
                    <div class="col-md-5">
                        <div class="footer-col">
                            <h3>Get in touch</h3>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Name...">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="Email...">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Subject...">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Massage..." rows="7"></textarea>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-lg btn-white">Send massege</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--get in touch col end-->
                </div><!--footer main row end-->  
                <div class="space-70"></div>
                <div class="row">
                    <div class="col-md-12 text-center footer-bottom">
                        
                        <div class="space-20"></div>
                        
                    </div>
                </div><!--footer copyright row end-->
            </div><!--container-->
        </div><!--footer main end-->

</body>
</html>
